<!-- views/auth/login.ejs -->
<%- include('../partials/header') %>
<h2>Login</h2>
<form action="/auth/login" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username" required>
    <label for="password">Password:</label>
    <input type="password" name="password" required>
    <button type="submit">Login</button>
</form>
<%- include('../partials/footer') %>
