<!-- views/partials/navbar.ejs -->
<nav class="flex items-center">
    <ul class="flex space-x-4">
        <li><a href="/" class="text-black hover:text-gray-800">Home</a></li>
        <li><a href="/shop" class="text-black hover:text-gray-800">Shop</a></li>
        <li><a href="/users/profile" class="text-black hover:text-gray-800">Profile</a></li>
        <li><a href="/users/cart" class="text-black hover:text-gray-800">Cart</a></li>
        <li><a href="/auth/logout" class="text-black hover:text-gray-800">Logout</a></li>
    </ul>
</nav>
