<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/orders">Orders</a></li>
        <li><a href="/users/profile">Profile</a></li>
        <li><a href="/auth/logout">Logout</a></li>
    </ul>
</nav>
