<!-- views/partials/navbar.ejs -->
<nav class="flex items-center">
    <ul class="flex space-x-4">
        <li><a href="/" class="text-white hover:text-gray-200">Home</a></li>
        <li><a href="/users/profile" class="text-white hover:text-gray-200">Profile</a></li>
        <li><a href="/users/cart" class="text-white hover:text-gray-200">Cart</a></li>
        <li><a href="/auth/logout" class="text-white hover:text-gray-200">Logout</a></li>
    </ul>
</nav>
