<!-- views/partials/navbar.ejs -->
<nav>
    <div class="container mx-auto px-4">
        <ul class="flex">
            <li><a href="/" class="text-black font-bold hover:text-gray-800">Home</a></li>
            <li><a href="/shop" class="ml-4 text-black font-bold hover:text-gray-800">Shop</a></li>
            <li><a href="/users/profile" class="ml-4 text-black font-bold hover:text-gray-800">Profile</a></li>
            <li><a href="/users/cart" class="ml-4 text-black font-bold hover:text-gray-800">Cart</a></li>
            <li><a href="/auth/logout" class="ml-4 text-black font-bold hover:text-gray-800">Logout</a></li>
        </ul>
    </div>
</nav>
